﻿@model subzicart.Models.tblCurrencyMaster

@{
    ViewBag.Title = "Insert_Currency";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Insert Currency</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <span class="notification_header_error">@ViewBag.message </span>

    <br />
    <br />



    <div class="form-horizontal">

        <hr />

        <div class="form-group">
            <label for="i1" class="col-sm-2 col-form-label">Currency Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.currency, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.currency, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <label for="i1" class="col-sm-2 col-form-label">Value</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="i1" class="col-sm-2 col-form-label">Rate in USD</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.rateInUSD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rateInUSD, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Status</label>   <div class="col-md-10">

                <select style="width:170px;" name="active" id="select_product" class="form-control">

                    <option value="1">Active</option>
                    <option value="0">Deactive</option>


                </select>
                @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <p>
        @Html.ActionLink("Back to List", "ViewAllCurrency", new { }, new { @class = "back" })
    </p>
</div>
