﻿@model subzicart.Models.tblCategory

@{
    ViewBag.Title = "update_Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Category</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    <span class="notification_header_error">@ViewBag.message </span>

    <br />
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.catId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.catId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.catId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="i1" class="col-sm-2 col-form-label">Catergory Title</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.catName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.catName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="i1" class="col-sm-2 col-form-label">Description</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Status</label>   <div class="col-md-10">

                                                                                      <select style="width:170px;" name="isactive" id="select_product" class="form-control">
                                                                                          @if (ViewBag.isActive == 1)
                                                                                          {
                                                                                              <option value="1">Active</option>
                                                                                              <option value="0">Deactive</option>
                                                                                          }
                                                                                          else
                                                                                          {

                                                                                              <option value="0">Deactive</option>
                                                                                              <option value="1">Active</option>
                                                                                          }



                                                                                      </select>
            @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
        </div>
    </div>

  


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <p>
        @Html.ActionLink("Back to List", "ViewAllCategory", new { }, new { @class = "back" })
    </p>
</div>