﻿@model subzicart.Models.tblMeasurementMaster

@{
    ViewBag.Title = "update_mesaurementmaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Measurement </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <span class="notification_header_error">@ViewBag.message </span>

        <br />
        <br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.m_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.m_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.m_id, "", new { @class = "text-danger" })
            </div>
        </div>

        div class="form-group">
        <label for="i1" class="col-sm-2 col-form-label">Unit Type</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.unit_type, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.unit_type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="i1" class="col-sm-2 col-form-label">Unit Value </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.unit_value, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.unit_value, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="i1" class="col-sm-2 col-form-label">Equivalent Unit Type</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.eq_unit_type, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.eq_unit_type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="i1" class="col-sm-2 col-form-label">Equivalent Unit Value</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.eq_unit_value, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.eq_unit_value, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Status</label>   <div class="col-md-10">

            <select style="width:170px;" name="active" id="select_product" class="form-control">
                @if (ViewBag.isActive == 1)
                {
                    <option value="1">Active</option>
                    <option value="0">Deactive</option>
                }
                else
                {

                    <option value="0">Deactive</option>
                    <option value="1">Active</option>
                }



            </select>
            @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
  
}
<div>
    <p>
        @Html.ActionLink("Back to List", "ViewAllmesaurementmaster", new { }, new { @class = "back" })
    </p>
</div>