﻿@model subzicart.Models.tblSubCategory

@{
    ViewBag.Title = "update_SubCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>update SubCategory</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <span class="notification_header_error">@ViewBag.message </span>

        <br />
        <br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.subCatId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.subCatId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.subCatId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Category</label>

            <div class="col-md-10">
                <select style="width:170px;" name="catId" id="select_product" class="form-control">


                    @foreach (var item in ViewBag.category.Rows)
                    {
                        if (ViewBag.categoryid == @item["catId"])
                        {
                            <option value="@item["catId"]" data-id="@item["catId"]">
                                @item["catname"]
                            </option>
                        }
                    }
                    @foreach (var item in ViewBag.category.Rows)
                    {
                        if (ViewBag.categoryid != @item["catId"])
                        {
                            <option value="@item["catId"]" data-id="@item["catId"]">
                                @item["catname"]
                            </option>
                        }
                    }

                </select>
                @Html.ValidationMessageFor(model => model.catId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <label for="i1" class="col-sm-2 col-form-label">SubCatergory Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.subCatName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.subCatName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="i1" class="col-sm-2 col-form-label">Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Status</label>   <div class="col-md-10">

    <select style="width:170px;" name="isactive" id="select_product" class="form-control">
        @if (ViewBag.isActive == 1)
        {
            <option value="1">Active</option>
            <option value="0">Deactive</option>
        }
        else
        {

            <option value="0">Deactive</option>
            <option value="1">Active</option>
        }



    </select>
    @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
</div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <p>
        @Html.ActionLink("Back to List", "ViewAllsubCategory", new { }, new { @class = "back" })
    </p>
</div>
