﻿@model subzicart.Models.tblCurrencyMaster

@{
    ViewBag.Title = "update_Currency";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Currency</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <span class="notification_header_error">@ViewBag.message </span>

        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.cid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cid, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label for="i1" class="col-sm-2 col-form-label">Currency Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.currency, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.currency, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <label for="i1" class="col-sm-2 col-form-label">Value</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="i1" class="col-sm-2 col-form-label">Rate in USD</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.rateInUSD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rateInUSD, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Status</label>   <div class="col-md-10">

                <select style="width:170px;" name="active" id="select_product" class="form-control">
                    @if (ViewBag.isActive == 1)
                    {
                        <option value="1">Active</option>
                        <option value="0">Deactive</option>
                    }
                    else
                    {

                        <option value="0">Deactive</option>
                        <option value="1">Active</option>
                    }



                </select>
                @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    <p>
        @Html.ActionLink("Back to List", "ViewAllCurrency", new { }, new { @class = "back" })
    </p>
</div>
