﻿@model subzicart.Models.tblBrandPrefix

@{
    ViewBag.Title = "update_brandprefix";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Brand</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <span class="notification_header_error">@ViewBag.message </span>

    <br />
    <br />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.brand_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.brand_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.brand_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="i1" class="col-sm-2 col-form-label">Brand Name</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.brand_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.brand_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="i1" class="col-sm-2 col-form-label">Prefix </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.brand_prefix, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.brand_prefix, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="i1" class="col-sm-2 col-form-label">Start Range</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.sku_start_range, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sku_start_range, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="i1" class="col-sm-2 col-form-label">End Range</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.sku_end_range, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sku_end_range, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Status</label>   <div class="col-md-10">

            <select style="width:170px;" name="active" id="select_product" class="form-control">
                @if (ViewBag.isActive == 1)
                {
                    <option value="1">Active</option>
                    <option value="0">Deactive</option>
                }
                else
                {

                    <option value="0">Deactive</option>
                    <option value="1">Active</option>
                }



            </select>
            @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    <p>
        @Html.ActionLink("Back to List", "ViewAllbrandprefix", new { }, new { @class = "back" })
    </p>
</div>
