﻿@model IEnumerable<subzicart.Models.tblSubCategory>

@{
    ViewBag.Title = "ViewAllSubCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View All SubCategory</h2>
<br />

<p>
    @Html.ActionLink("Create New", "Insert_SubCategory", new { }, new { @class = "edit" })
</p>
<br />

<span class="notification_header_error">@ViewBag.message </span>
<br />
<br />

<table class="table">
    <tr style="background-color:black;color:white;">
        <th>
            ID
        </th>
        <th>
            SubCategory Title
        </th>
        <th>
            Parent Category
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>

        <th>Actions</th>
    </tr>
    @foreach (var item in ViewBag.category.Rows)
    {
<tr>
    <td>
        @item["subcatid"]
    </td>
    <td>
        @item["subcatname"]
    </td>
    <td>
        @item["catname"]
    </td>

    <td>
        @item["description"]
    </td>
    <td>

        @if (item["isactive"] == 1)
        {
            <span>Active</span>
        }
        else
        {
            <span>Not Active</span>
        }
    </td>


    <td>
        @Html.ActionLink("Update", "update_SubCategory", new { mid = item["subcatid"] }, new { @class = "edit" })
        @Html.ActionLink("Delete", "DeleteSubCategory", new { mid = item["subcatid"] }, new { @class = "delete" })

    </td>
</tr>
    }

</table>
