﻿@model IEnumerable<subzicart.Models.tblBrandPrefix>

@{
    ViewBag.Title = "ViewAllbrandprefix";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>View All Brand</h2>
<br />

<p>
    @Html.ActionLink("Create New", "Insert_brandprefix", new { }, new { @class = "edit" })
</p>
<br />

<span class="notification_header_error">@ViewBag.message </span>
<br />
<br />

<table class="table">
    <tr style="background-color:black;color:white;">
        <th>
            ID
        </th>
        <th>
            Brand Name
        </th>
        <th>
            Brand Prefix
        </th>
        <th>
            Start Range
        </th>
        <th>
           End Range
        </th>
        <th>
            Status
        </th>

        <th>Actions</th>
    </tr>
    @foreach (var item in ViewBag.category.Rows)
    {
<tr>
    <td>
        @item["brand_id"]
    </td>

    <td>
        @item["brand_name"]
    </td>
    <td>
        @item["brand_prefix"]
    </td>
    <td>
        @item["sku_start_range"]
    </td>
    <td>
        @item["sku_end_range"]
    </td>
    <td>

        @if (item["active"] == 1)
        {
            <span>Active</span>
        }
        else
        {
            <span>Not Active</span>
        }
    </td>


    <td>
        @Html.ActionLink("Update", "update_brandprefix", new { mid = item["brand_id"] }, new { @class = "edit" })
        @Html.ActionLink("Delete", "Deletebrandprefix", new { mid = item["brand_id"] }, new { @class = "delete" })

    </td>
</tr>
    }

</table>





