﻿@model IEnumerable<subzicart.Models.tblCurrencyMaster>

@{
    ViewBag.Title = "ViewAllCurrency";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2>View All Category</h2>
<br />

<p>
    @Html.ActionLink("Create New", "Insert_Currency", new { }, new { @class = "edit" })
</p>
<br />

<span class="notification_header_error">@ViewBag.message </span>
<br />
<br />

<table class="table">
    <tr style="background-color:black;color:white;">
        <th>
            ID
        </th>
        <th>
            Currency
        </th>
        <th>
            Value
        </th>
        <th>
            Rate In USD
        </th>
        <th>
            Status
        </th>

        <th>Actions</th>
    </tr>
    @foreach (var item in ViewBag.category.Rows)
    {
<tr>
    <td>
        @item["cid"]
    </td>

    <td>
        @item["currency"]
    </td>
    <td>
        @item["value"]
    </td>
    <td>
        @item["rateinusd"]
    </td>
    <td>

        @if (item["active"] == 1)
        {
            <span>Active</span>
        }
        else
        {
            <span>Not Active</span>
        }
    </td>


    <td>
        @Html.ActionLink("Update", "update_Currency", new { mid = item["cid"] }, new { @class = "edit" })
        @Html.ActionLink("Delete", "DeleteCurrency", new { mid = item["cid"] }, new { @class = "delete" })

    </td>
</tr>
    }

</table>







