﻿@model IEnumerable<subzicart.Models.tblCategory>


@{
    ViewBag.Title = "ViewAllCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View All Category</h2>
<br />

<p>
    @Html.ActionLink("Create New", "Insert_Category", new { }, new { @class = "edit" })
</p>
<br />

<span class="notification_header_error">@ViewBag.message </span>
<br />
<br />

<table class="table">
    <tr style="background-color:black;color:white;">
        <th>
            ID
        </th>
        <th>
            Category Title
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>

        <th>Actions</th>
    </tr>
    @foreach (var item in ViewBag.category.Rows)
    {
        <tr>
            <td>
                @item["catid"]
            </td>

            <td>
                @item["catname"]
            </td>
            <td>
                @item["description"]
            </td>
            <td>

                @if (item["isactive"] == 1)
                {
                    <span>Active</span>
                }
                else
                {
                    <span>Not Active</span>
                }
            </td>


            <td>
                @Html.ActionLink("Update", "update_Category", new { mid = item["catid"] }, new { @class = "edit" })
                @Html.ActionLink("Delete", "DeleteCategory", new { mid = item["catid"] }, new { @class = "delete" })

            </td>
        </tr>
    }

</table>
