﻿@model IEnumerable<subzicart.Models.tblMeasurementMaster>

@{
    ViewBag.Title = "ViewAllmesaurementmaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View All Measurements</h2>

<p>
    @Html.ActionLink("Create New", "Insert_mesaurementmaster", new { }, new { @class = "edit" })
</p>
<br />

<span class="notification_header_error">@ViewBag.message </span>
<br />
<br />

<table class="table">
    <tr style="background-color:black;color:white;">
        <th>
            ID
        </th>
        <th>
            Unit Type
        </th>
        <th>
            Unit Value
        </th>
        <th>
            Equivalent  Unit Type
        </th>
        <th>
            Equivalent  Unit Value
        </th>
        <th>
            Status
        </th>

        <th>Actions</th>
    </tr>
    @foreach (var item in ViewBag.category.Rows)
    {
<tr>
    <td>
        @item["m_id"]
    </td>
    <td>
        @item["unit_type"]
    </td>

    <td>
        @item["unit_value"]
    </td>
    <td>
        @item["eq_unit_type"]
    </td>
    <td>
        @item["eq_unit_value"]
    </td>

    <td>

        @if (item["active"] == 1)
        {
            <span>Active</span>
        }
        else
        {
            <span>Not Active</span>
        }
    </td>


    <td>
        @Html.ActionLink("Update", "update_mesaurementmaster", new { mid = item["m_id"] }, new { @class = "edit" })
        @Html.ActionLink("Delete", "Deletemesaurementmaster", new { mid = item["m_id"] }, new { @class = "delete" })

    </td>
</tr>
    }

</table>
